* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.navbar {
    background-color: rgb(255, 255, 255);
    padding: 16px 20px;
    margin-bottom: 16px;
    border-bottom: 2px solid #ddd;

    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.logo span {
    color: #0066cc;
}

.card {
    background-color: white;
    padding:16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: calc(50% - 10px); 
}

.thumbnail {
    width: 100%;
    max-height: 240px;
    border-radius: 5px;
    object-fit: cover;
}

.channel-img {
    width: 40px;
    height: 40px;
    border-radius:50%;
    background-color: #ccc;
    margin-right: 12px; 
}

.card-info {
    display: flex;
    margin-top: 12px;
}

.video-grid {
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    gap:18px;
}